<div class="header">
<header class="burger-menu">
    <button class="burger-button" (click)="toggleMenu($event)">
        &#9776;
    </button>
    <div class="overlay" *ngIf="menuOpen" (click)="closeMenu()">
        <nav [class.open]="menuOpen">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/employee">Employee Table</a></li>
                <li><a routerLink="/pie-chart">Employee Pie Chart</a></li>
            </ul>
        </nav>
    </div>
    <h1 class="title">Angular Application</h1>
</header>

</div>


